header .otherSites {
  padding: 10px 10%;
  background-color: #0c7cec;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  color: white;
  font-size: 12px;
}

header .otherSites span {
  margin-left: 30px;
}

header nav {
  padding: 10px 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav #logo {
  height: 50px;
  width: auto;
}

header nav .navbarList {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
}

header nav .navbarList li {
  font-weight: 600;
}

header nav input {
  border: none;
  border-bottom: 4px solid #0c7cec;
  text-align: right;
  width: 100px;
  font-size: 16px;
}

.jumbotron {
  height: 300px;
  background-image: url("/storage/assets/jumbotron.jpg");
  background-size: cover;
}

.home {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  color: white;
  margin: 10px 10%;
}

.home .container .currentSeries {
  background-color: #0c7cec;
  padding: 10px;
  position: absolute;
  top: -30px;
  left: 0;
}

.home .container .comics {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
  align-items: flex-start;
  margin-top: 50px;
}

.home .container .comics .comic {
  width: calc(100%/6);
  padding: 0 20px;
  margin-bottom: 20px;
}

.home .container .comics .comic .cover {
  height: 150px;
  width: 100%;
  margin-bottom: 15px;
}

.home .container .comics .comic .cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: top;
     object-position: top;
}

.home .container .comics .comic a {
  color: white;
}

.home .container .button {
  background-color: #0c7cec;
  padding: 10px 40px;
}

.home .container .button:hover {
  cursor: pointer;
}

.home .merchandise {
  background-color: #0c7cec;
  padding: 40px 10%;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.home .merchandise div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .merchandise div img {
  height: 60px;
  width: auto;
}

.home .merchandise div span {
  font-size: 12px;
  margin-left: 5px;
  color: white;
}

.home .merchandise div:last-child img {
  width: 50px;
  height: auto;
}

main.comic .imgBar {
  height: 50px;
  background-color: #0c7cec;
  position: relative;
}

main.comic .imgBar img {
  position: absolute;
  bottom: 20px;
  left: 20%;
  height: 200px;
  width: auto;
}

main.comic .rowSales {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20%;
}

main.comic .rowSales .sale {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  padding: 10px;
}

main.comic .rowSales .sale h3 {
  text-transform: uppercase;
}

main.comic .rowSales .sale .greenBar {
  flex-grow: 1;
  background-color: #35c438;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

main.comic .rowSales .sale .greenBar .price {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  border-right: 1px solid black;
  padding: 0 10px;
}

main.comic .rowSales .sale .greenBar .check {
  padding: 0 10px;
}

main.comic .rowSales .sale .greenBar span {
  color: #74d76a;
}

main.comic .rowSales .sale .greenBar .white {
  color: white;
}

main.comic .rowSales .sale p {
  font-size: 12px;
  line-height: 18px;
}

main.comic .rowSales .adv {
  text-align: right;
}

main.comic .rowSales .adv img {
  width: 200px;
}

main.comic .rowInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  padding: 50px 20%;
  background-color: lightgrey;
}

main.comic .rowInfo .container {
  width: 50%;
}

main.comic .rowInfo .container .box {
  border-bottom: 1px solid grey;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 20px;
}

main.comic .rowInfo .container .box:first-child {
  padding: 20px 0;
}

main.comic .rowInfo .container .box span {
  font-size: 10px;
}

main.comic .rowInfo .container .box .content {
  width: 70%;
  color: #0c7cec;
}

main.comic .rowInfo .container .box .info {
  width: 70%;
}

footer .pre-footer {
  background-image: url("/storage/assets/footer-bg.jpg");
  background-size: 110%;
  padding: 0 10%;
  color: white;
  display: inline-block;
  width: 100%;
  height: 400px;
  display: flex;
}

footer .pre-footer .texts {
  width: 40%;
  height: 100%;
}

footer .pre-footer .texts .lists {
  margin-top: 35px;
  height: 280px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

footer .pre-footer .texts .lists ul {
  margin-bottom: 20px;
}

footer .pre-footer .texts .lists ul li {
  font-size: 12px;
  line-height: 20px;
}

footer .pre-footer .texts .lists ul li a {
  color: #a3a3a3;
}

footer .pre-footer .texts .lists ul li.title {
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
}

footer .pre-footer .texts p {
  font-size: 12px;
}

footer .pre-footer .texts a {
  color: #0c7cec;
}

footer .pre-footer .logo {
  display: inline-block;
  margin-left: 100px;
}

footer .pre-footer .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: center;
     object-position: center;
}

footer .socials {
  background-color: #383838;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10%;
}

footer .socials > a {
  border: 3px solid #0c7cec;
}

footer .socials > a h4 {
  color: white;
  padding: 10px;
}

footer .socials .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .socials .icons li {
  margin-left: 10px;
}

footer .socials .icons H3 {
  color: #0c7cec;
  margin-right: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

